<h1 class="title">Recipes list</h1>
<% @recipes.each do |recipe| %>
  <div class="card">
    <div class="">
      <div>
        <h5 class=""><a href="<%= recipe_path(recipe) %>" class=""><%= recipe.name %></a></h5>
        <%# if can? :manage, recipe %>
          <%= button_to "REMOVE", recipe_path(recipe), method: :delete, class: "" %>
        <%# end %>
      </div>
      <p class=""><%= recipe.description %></p>
    </div>
  </div>
<% end %>