<h1>Add Recipe food</h1>

<%= form_with model: @recipe_food, url: recipe_foods_path(recipe_id: @recipe.id) , method: :post  do |form| %>
  <div>
    <%= form.label :quantity %><br>
    <%= form.text_field :measurement_unit %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
